@media (min-width: 768px) {
    .layout {
        display: grid;
        gap: 1.5rem;
        grid-template-areas: "sidebar main";
        grid-template-columns: 250px calc(100% - 275px);
    }
}

.layout {
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    padding-top: 20px;
}